@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #fafafa;
}

.content-container {
  flex: 1;
  padding: var(--spacing-large);
  margin-left: 250px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin-bottom: var(--spacing-large);
}

.form-field {
  margin-bottom: var(--spacing-medium);
}

.form-field label {
  display: block;
  margin-bottom: var(--spacing-small);
}

.form-field input[type="text"],
.form-field input[type="radio"] {
  margin-bottom: var(--spacing-small);
}

h1 {
  font-size: 8rem;
  font-family: 'Libre Barcode 128 Text', cursive;
  margin-bottom: var(--spacing-large);
}
